@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

[data-rmiz-btn-unzoom] {
    display: none !important;
}

@layer components {
    .wl-container {
        @apply m-auto max-w-[1500px] px-[25px] md:px-[50px];
    }

    .container-padding {
        @apply px-[25px] md:px-[50px];
    }

    .border-hover {
        @apply relative border-b-2 border-b-transparent pb-2 before:absolute before:bottom-[-2px] before:left-0 before:right-0 before:h-[2px] before:w-0 before:bg-white before:transition-[width] before:duration-300 before:ease-in-out hover:before:w-full;
    }
}
